.watch-container {
    position: relative;
    margin: auto;
    background-color: lightgrey;
    height: 40vw;
    width: 40vw;
    border-radius: 50%;
    box-shadow: 5px 5px 10px black;
}

#hr, #min, #sec {
    position: absolute;
    background-color: black;
    border-radius: 30px;
    transform-origin: bottom;
}

#hr {
    height: 23%;
    width: 1.6%;
    top: 29%;
    left: 49.22%;  
}

#min {
    height: 32%;
    width: 1.2%;
    top: 20%;
    left: 49.3%;
}

#sec {
    height: 40%;
    width: 0.8%;
    top: 12%;
    left: 49.5%;
}